<!-- about -->
<section class="about py-5">
  <div class="container py-md-3">
    <h2 class="heading text-center mb-sm-5 mb-4">Acerca de nosotros</h2>
    <div class="row">
      <div class="col-lg-8">
        <h4 class="about-left">{{settings.companyInfo.aboutTitle}}</h4>
        <p class="mt-sm-4 mt-3">{{settings.companyInfo.aboutContent}}</p>
        <div class="row mt-4">
          <div class="col-md-3 col-6">
            <div class="about-box">
							<span class="icon">
								<span class="fa fa-birthday-cake"></span>
							</span>
              <h4>Saludable</h4>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="about-box">
							<span class="icon">
								<span class="fa fa-rocket"></span>
							</span>
              <h4>Rapido y caliente</h4>
            </div>
          </div>
          <!-- .about-box ends here -->
          <div class="col-md-3 col-6 mt-md-0 mt-4">
            <div class="about-box">
							<span class="icon">
								<span class="fa fa-cutlery"></span>
							</span>
              <h4> Grill</h4>
            </div>
          </div>
          <div class="col-md-3 col-6 mt-md-0 mt-4">
            <div class="about-box">
							<span class="icon">
								<span class="fa fa-coffee"></span>
							</span>
              <h4>Para llevar</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 dental">
        <img src="{{settings.companyInfo.aboutImage}}" class="img-fluid" alt=""/>
      </div>
    </div>
  </div>
</section>
<!-- //about -->
